// Colors.
$main-bg-color: #232323;
$secondary-bg-color: #424242;
$tertiary-bg-color: #555555;
$main-interactive-color: #f65261;
$content-color: #ffffff;
$opacity-bg-color: rgba(85, 85, 85, 0.5);
$dark-opacity-color: rgba(35, 35, 35, 0.5);
// Shapes.
$border-radius: 5px;
$search-input-height: 60px;
$mobile-max-width: 500;
